<ion-view title="My Bike">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="myBike-card23">
            <div class=" item item-image">
                <img src="img/ionic.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item id="myBike-list-item13">Serial No
                <span class="item-note">MU28343</span>
            </ion-item>
            <ion-item id="myBike-list-item17">Purchased From
                <span class="item-note">Sweet Pete's Annex</span>
            </ion-item>
            <ion-item id="myBike-list-item15">Color
                <span class="item-note">Grey</span>
            </ion-item>
            <ion-item id="myBike-list-item14">Model
                <span class="item-note">Nakamura</span>
            </ion-item>
            <ion-item class="item-icon-left assertive" id="myBike-list-item16" ui-sref="reportStolenBike">
                <i class="icon ion-alert"></i>Report Stolen
            </ion-item>
        </div>
    </ion-content>
</ion-view>
