<ion-view title="My Bike">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class=" item item-image">
                <img src="img/bike-flying-pidgeon.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item>Serial No
                <span class="item-note">{{bike.serial_number}}</span>
            </ion-item>
            <ion-item>Purchased From
                <span class="item-note">{{bike.place_of_purchase}}</span>
            </ion-item>
            <ion-item>Brand
                <span class="item-note">{{bike.brand}}</span>
            </ion-item>
            <ion-item>Model
                <span class="item-note">{{bike.model}}</span>
            </ion-item>
            <ion-item class="item-icon-left assertive" ui-sref="reportStolenBike">
                <i class="icon ion-alert"></i>Report Stolen
            </ion-item>
        </div>
    </ion-content>
</ion-view>
