<ion-view title="Register my Bike" ng-controller="BikesController as bike">
    <ion-content padding="true" class="has-header">
        <h1 id="registerMyBike-heading6" style="color:#000000;">Register your brand spankin' new bike.</h1>
        <form id="registerMyBike-form4" class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="" ng-model="bike.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Serial Number</span>
                <input type="text" placeholder="" ng-model="bike.serialNumber">
            </label>
            <label class="item item-input">
                <span class="input-label">Place of Purchase</span>
                <input type="text" placeholder="" ng-model="bike.placeOfPurchase">
            </label>
            <label class="item item-input">
                <span class="input-label">Model</span>
                <input type="text" placeholder="" ng-model="bike.model">
            </label>
            <label class="item item-input">
                <span class="input-label">Brand</span>
                <input type="text" placeholder="" ng-model="bike.brand">
            </label>
        </form>
        <button class="button button-calm  button-block icon-left ion-android-camera">Upload an Image</button>
        <a ng-click="registerBike(bike)" class="button button-dark button-block">Register my new bike</a>
    </ion-content>
</ion-view>
