<ion-view title="Report Stolen Bike" id="page7">
    <ion-content padding="true" class="has-header">
        <ion-list id="reportStolenBike-list7">
            <ion-item id="reportStolenBike-list-item20">MU28343
                <span class="item-note">Grey Nakamura</span>
            </ion-item>
        </ion-list>
        <div>
            <img src="img/8rwHnmfTwS7eSMSwwSTw_bike.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="reportStolenBike-form5" class="list">
            <label class="item item-input" id="reportStolenBike-input15">
                <span class="input-label">Location</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="reportStolenBike-input17">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input" id="reportStolenBike-input16">
                <span class="input-label">Time</span>
                <input type="time" placeholder="">
            </label>
            <a ui-sref="registeredBikes" id="reportStolenBike-button17" class="button button-assertive  button-block">Report Stolen Bike</a>
        </form>
    </ion-content>
</ion-view>